POSTGRES_URL=postgresql://neondb_owner:npg_MnkLhNIH74ov@ep-wandering-thunder-ax0tgewz-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-wandering-thunder-ax0tgewz-pooler.c-4.us-east-2.aws.neon.tech
POSTGRES_PASSWORD=YOUR_NEW_PASSWORD
POSTGRES_DATABASE=neondb

AUTH_SECRET=your-super-secret-key-123456789
AUTH_URL=http://localhost:3000